
<div class="grid-block">
	<div class="grid-content">
		<h1>Add Trails</h1>
		<hr>
		<p>The trails on Trekker were contributed by hikers around the country. If you don't see your favorit local trail on Trekker, please shere it with the hiking community!</p>

		<form>
		  <input type="text" placeholder="Trail Name">
		  <input type="text" placeholder="Location">
		  <textarea rows="6" placeholder="Description"></textarea>
		  <p>
		    <a class="medium button success" ui-sref="home" zf-open="trail-notify"><img zf-iconic="" icon="circle-check" size="small"> Add New Trail</a>
		  </p>
		</form>
	</div>  
</div>
